nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

/* .navLeft li {
  margin-right: 7rem;
  white-space: nowrap;
} */
/* 
.navLeft li:last-child {
  margin-right: 0rem;
} */

.navLink {
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  color: #444;
  /* new */
  margin: 0px 10px;
  display: block;
}

.navLink.active {
  color: #333;
  border-bottom: 1px solid #080808;
}

.user-icon__cont {
  position: relative;
}

.user-icon {
  font-size: 2.4rem;
  cursor: pointer;
}

.user-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  min-width: 18rem;
  border-radius: 5px;
  border-style: outset;
  padding: 3rem 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 50;
}

.user-menu li {
  font-size: 1.5rem;
  padding: 1.5rem 0;
  color: #444;
}

.user-menu li:first-of-type {
  font-size: 1.6em;
  text-transform: capitalize;
  font-weight: 500;
}

.user-menu li:last-of-type {
  align-self: center;
}

.navRight ul {
  column-gap: 2rem;
}

@media (max-width: 1440px) {
  .user-menu {
    right: 0px;
  }
}

@media (max-width: 640px) {
  .user-menu {
    min-width: 90vw;
  }
}

@media (min-width: 768px) {
  .navLink {
    display: inline-block;
  }
}

/* @keyframes active-link {
  from {
    border-bottom: 0px;
  }
  to {
    border-bottom: 2px solid #080808;
  }
} */
