.quickSummaryItem {
  width: 30%;
  height: 150px;
  background-color: #739ffe;
  border-radius: 10px;
  border-style: outset;
}
.summaryHeading {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.summaryVal {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

@media only screen and (max-width: 950px) {
  .summaryHeading {
    font-size: 2rem;
  }

  .summaryVal {
    font-size: 2.2rem;
  }
}
