.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-wrapper {
  margin: 3rem 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2.2rem;
  font-weight: 300;
  
}

.App-link {
  color: #61dafb;
}

.heading-h2 {
  color: #080808;
  font-size: 40px;
  line-height: 56px;
  font-weight: 300;
}

.link {
  color: #080808;
}

.decor-none {
  text-decoration: none;
  color: inherit;
}

.logoLink {
  text-decoration: none;
  display: inline-block;
  transition: transform 0.3s;
  cursor: default;
}

.logoLink:hover {
  transform: scale(0.95);
}

.button-default {
  border: none;
}

.subHeading {
  font-size: 2.4rem;
  font-weight: 400;
  color: #191919;
}

.campsCont {
  background-color: #d8e4ff;
  border-radius: 10px;
  padding-top: 2rem;
}

/* hr {
  max-width: 70%;
} */

.container {
  width: 70%;
  margin: auto;
}

.btn {
  padding: 1.1rem 3.5rem;
  border-radius: 3rem;
  border: 1px solid #000000;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 300;
  display: inline-block;
  cursor: pointer;
}

.btn:hover {
  background: #3071fd;
  color: #fff;
  border: 1px solid transparent;
  transform: translateY(-0.2rem);
  transition: all 0.5s;
  /* animation: linkcolor 0.5s linear 0.1s infinite normal; */
}

.btn--black {
  background: #000000;
  color: #fff;
}

.btn--white {
  background: inherit;
  color: #080808;
}

@keyframes linkcolor {
  to {
    background: #3071fd;
    color: #fff;
    border: 1px solid transparent;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pointer {
  cursor: pointer;
}

@media screen and  (max-width: 1024px)
{
  .container
  {
    width:80%;
  }
}
@media screen and (max-width: 480px) 
{
   .logo{
     font-size: 2.4rem;
     font-weight: 300;
   }
}

