.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-wrapper {
  margin: 3rem 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2.9rem;
  font-weight: 300;
}

.App-link {
  color: #61dafb;
}

.heading-h2 {
  color: #080808;
  font-size: 40px;
  line-height: 56px;
  font-weight: 300;
}

.link {
  color: #080808;
}

.decor-none {
  text-decoration: none;
  color: inherit;
}

.logoLink {
  text-decoration: none;
  display: inline-block;
  transition: transform 0.3s;
  cursor: default;
}

.logoLink:hover {
  transform: scale(0.95);
}

.button-default {
  border: none;
}

.subHeading {
  font-size: 2.4rem;
  font-weight: 400;
  color: #191919;
}

.campsCont {
  background-color: #d8e4ff;
  border-radius: 10px;
  padding-top: 2rem;
}

hr {
  max-width: 70%;
}

.container {
  width: 70%;
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
