.newBlock {
  margin: 7rem auto;
}

.quickSummary {
  /* width: 90%; */
  min-height: 200px;
  border-radius: 10px;
  background-color: #d8e4ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.blueBlock {
  background-color: cornflowerblue;
  margin: 5rem auto;
  border-radius: 10px;
  min-height: 20rem;
  width: 90%;
  display: flex;
  flex-direction: column;
}
