.newBlock {
  margin: 7rem auto;
}

.quickSummary {
  /* width: 90%; */
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  background-color: #d8e4ff;
  padding: 3rem;
}

.summary-item {
  border-radius: 50%;
  /* padding: 4rem 1rem; */
  color: #444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2.2rem;
  text-align: center;
}

.summary-item__big {
  width: 17rem;
  height: 17rem;
  background-color: #b6ccff;
}

.summary-item__small {
  width: 13rem;
  height: 13rem;
  background-color: #94b5ff;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}

.summary-item__medium {
  width: 17rem;
  height: 17rem;
  background-color: #b6ccff;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 10px 5px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
    transform: translatey(0px);
  }
}
