.container-wrapper {
  position: relative;
  border: 5px solid #84abfe;
}

.number-box {
  font-family: 'Lato', sans-serif;
  color: #000;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number-box--top {
  top: -4rem;
}

.number-box--bottom {
  bottom: -5rem;
}

.number {
  background-color: #5188fe;
  margin-right: 1rem;
}

.number-small {
  width: fit-content;
  padding: 1.3rem 2rem;
  margin-bottom: 2rem;
  border-radius: 5rem;
  font-size: 1.6rem;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.number-big {
  padding: 2rem 3.1rem;
  margin-bottom: 2rem;
  border-radius: 5rem;
  font-size: 2.5rem;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* .form-group {
  display: flex;
}
.form-group .form-wrapper {
  width: 50%;
}
.form-group .form-wrapper:first-child {
  margin-right: 20px;
} */

input,
textarea {
  /* font-family: 'Lato', sans-serif; */
  font-size: 1.8rem;
  color: #444;
}

.form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.form-wrapper label {
  font-size: 1.8rem;
}

.form-control {
  border: 2px solid #b6cdfe;
  width: 70%;
  max-width: 70%;
  height: 40px;
  padding: 0 20px;
  border-radius: 10px;
  outline: none;
  transition: all 0.3s;
}

.form-control--small {
  width: 30%;
  padding: 0 10px;
}

.form-control--number {
  width: 20%;
  padding: 0 10px;
}

.form-control--option {
  border: none;
  border-bottom: 2px solid #b6cdfe;
  outline: none;
  margin-right: 2rem;
  width: 50%;
  transition: all 0.3s;
}

.form-wrapper textarea {
  padding: 20px;
  height: 30rem;
}

.form-wrapper select {
  color: #444;
  font-size: 1.6rem;
  background-color: #d8e4ff;
  /* font-size: 1rem; */
}

.form-control optgroup {
  background-color: #d8e4ff;
  /* font-size: 1rem; */
}

.btn-right {
  display: block !important;
  margin-left: auto;
  /* background-color: #; */
  outline: none;
}

.form-control:focus,
.form-control--small:focus {
  border: 2px solid #739ffe;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-control--option:focus {
  border-bottom: 2px solid #739ffe;
}

.separator {
  margin: 6rem auto;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background-color: #7e7e7e;
}

.question-box {
  margin-bottom: 5rem;
  padding: 3rem;
  border-radius: 1rem;
  border: 3px solid #739ffe;
}

.question-opts__block {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.opt-item {
  /* width: 30%; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.opt-item:last-of-type {
  cursor: pointer;
}

.opt-label {
  font-size: 2rem;
  margin-right: 2rem;
}

.option-box {
  margin-bottom: 2rem;
}

.add-option {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  color: #739ffe;
  transition: all 0.2s;
}

.add-option:hover {
  color: #407cfd;
}

.add-question {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
.add-question svg {
  color: #739ffe;
  cursor: pointer;
}

.question-subhead {
  font-size: 2.2rem;
  margin: 4rem 0 2rem;
}

.form-control__emails {
  line-height: 1.8;
}

.preview-section {
  position: relative;
  max-width: 80%;
  margin: 0 auto 10rem;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 6rem 1rem 4rem;
}

.number-box--preview {
  top: -3rem;
}

.plainCard_preview {
  padding: 7rem 8rem;
}
/* .number-box--preview::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: solid 3px #739ffe;
  z-index: -1;
} */

@media only screen and (max-width: 1280px) {
  .form-wrapper {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }
  .form-wrapper--extra {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
  }

  .form-wrapper label {
    font-size: 1.8rem;
  }
  .form-control {
    width: 100%;
    max-width: 100%;
    font-size: 1.6rem;
    padding: 0 10px;
  }

  .form-control--small {
    width: 30%;
    padding: 0 10px;
  }

  .form-control--option {
    font-size: 1.6rem;
    width: 80%;
  }
  .add-option {
    font-size: 1.3rem;
    margin-left: 0;
  }
  .question-subhead {
    font-size: 1.6rem;
    margin: 2rem 0rem 1rem;
  }
  .separator {
    margin: 4rem auto;
  }
}

@media screen and (max-width: 1024px) {
  .preview-section {
    max-width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .question-opts__block {
    margin-top: 2rem;
    flex-direction: column;
    align-items: stretch;
  }
  .form-wrapper--extra {
    flex-direction: column;
  }
  .form-control--small {
    width: 100%;
    padding: 0 10px;
  }
  .opt-label {
    font-size: 1.6rem;
  }
  .opt-item {
    justify-content: space-between;
    margin-top: 2rem;
  }
  .form-wrapper textarea {
    padding: 10px;
    height: 30rem;
  }

  .preview-section {
    max-width: 95%;
  }
}

@media screen and (max-width: 640px) {
  .container-wrapper {
    margin-top: 5rem;
  }

  .form-wrapper label {
    font-size: 1.6rem;
  }

  .separator {
    margin: 3rem auto;
  }
}

@media only screen and (max-width: 480px) {
  .form-wrapper label {
    font-size: 1.6rem;
  }
  .question-box {
    padding: 3rem 1.7rem;
  }
}
