.block {
  margin: 2rem auto 7rem;
  background-color: #d8e4ff;
  border-radius: 10px;
  padding: 2rem 0;
}
@media screen and (max-width: 480px) 
{
  .block {
    width:78%;
    min-width: 105%;
    
    
  }
}