.quickSummaryItem {
  width: 46%;
  height: 150px;
  background-color: #739ffe;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.summaryHeading {
  font-size: 2.2rem;
  font-weight: 300;
  text-align: center;
}

.summaryVal {
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .summaryHeading {
    font-size: 2rem;
  }

  .summaryVal {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 480px) {
  .quickSummaryItem {
    width: 31%;
  }
  .summaryHeading {
    font-size: 1.8rem;
    text-align: center;
  }
}
