.featureContainer {
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.featureInner {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 480px) 
{
  .featureContainer {
    margin: 10px 5px 35px 5px ;
    display: block;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    max-width: 38rem;
    min-height: 5rem;
    text-align: left;
  }
  
}