.camps {
  /* min-height: 250px; */
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.campsRow {
  width: 90%;
  margin: 1.5rem auto;
}

.campsRow span {
  display: inline-block;
  width: 32%;
  text-align: center;
  font-size: 2rem;
}

.campItem {
  background-color: cornflowerblue;
  border-radius: 10px;
  height: 100px;
  display: flex;
  align-items: center;
}

.heading {
  font-size: 2.4rem;
  font-weight: 400;
}
@media screen and (min-device-width: 480px) 
{
  .campsRow span {
    display: inline-block;
    width: 32%;
    text-align: center;
    font-size: 2rem;
  }
  
}